<div class="container mt-5">
    <div class="row">
      <!-- Cuadro izquierdo (Equipo) -->
      <div class="col-4">
        <div class="card text-center">
          <h5 class="card-title mt-3">Equipo</h5>
          <img src="nosotros.jpg" class="card-img custom-img" alt="Equipo" />
        </div>
      </div>

      <!-- Cuadro central (Almacén) -->
      <div class="col-4">
        <div class="card text-center">
          <h5 class="card-title mt-3">Almacén</h5>
          <img src="bodega.jpg" class="card-img custom-img" alt="Almacén" />
        </div>
      </div>

      <!-- Cuadro derecho (Tienda) -->
      <div class="col-4">
        <div class="card text-center">
          <h5 class="card-title mt-3">Tienda</h5>
          <img src="entrada.jpg" class="card-img custom-img" alt="Tienda" />
        </div>
      </div>

      <!-- Cuadro adicional (Almacén) -->
      <div class="col-4">
        <div class="card text-center">
          <h5 class="card-title mt-3">Empresa</h5>
          <img src="empresa.jpg" class="card-img custom-img" alt="Empresa" />
        </div>
      </div>

    </div>
  </div>
