.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .custom-img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajusta este valor según la altura deseada */
    object-fit: cover;
    margin-top: 10px;
  }
  