<!-- Pie de página -->
<footer class="footer text-center text-white">
    <div class="container">
        <!-- Información de la empresa -->
        <div class="footer-info">
            <h4>IKOMI PERU</h4>
            <p>Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y a precios de mercado.</p>
        </div>

        <!-- Dirección, correo y teléfonos -->
        <div class="footer-contact">
            <div class="row">
                <div class="col-md-4">
                    <h5>Dirección</h5>
                    <p>Avenida Nicolás Ayllon 3384</p>
                    <p>Carretera Central - Paradero Rayovac</p>
                    <p>Lima - Ate</p>
                </div>
                <div class="col-md-4">
                    <h5>Correo</h5>
                    <p>ventas&#64;ikomiperu.com</p>
                    <p>ventas&#64;ikomiperu.com</p>
                </div>
                <div class="col-md-4">
                    <h5>Teléfonos</h5>
                    <p>985 068 416</p>
                    <p>981 453 306</p>
                </div>
            </div>
        </div>

        <!-- Links de navegación -->
        <div class="footer-links">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Inicio</a></li>
                <li class="list-inline-item"><a href="#">Nosotros</a></li>
                <li class="list-inline-item"><a href="#">Servicios</a></li>
                <li class="list-inline-item"><a href="#">Producto</a></li>
                <li class="list-inline-item"><a href="#">Equipo</a></li>
                <li class="list-inline-item"><a href="#">Contáctenos</a></li>
            </ul>
        </div>
    </div>
</footer>
